strict-peer-dependencies=false
only-built-dependencies[]=sharp
only-built-dependencies[]=esbuild
only-built-dependencies[]=core-js
only-built-dependencies[]=es5-ext
only-built-dependencies[]=@fortawesome/fontawesome-common-types
only-built-dependencies[]=@fortawesome/fontawesome-svg-core
only-built-dependencies[]=@fortawesome/free-brands-svg-icons
only-built-dependencies[]=@fortawesome/free-regular-svg-icons
only-built-dependencies[]=@fortawesome/free-solid-svg-icons
